<% provide(:title, "Start new lesson") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>
      <%= @category.title %>
    </h1>
    <div class="lesson">
      <%= form_for @lesson, remote: true do |f| %>
        <% @lesson.results.each_with_index do |result, i| %>
          <section id="result-<%= i %>" class="<%= "hidden" if i > 0 %>">
            <h1><%= "#{i+1}/20" %></h1>
            <span>
              <h3><%= result.word.content %></h3>
            </span>
            <span>
              <%= f.fields_for :results, result do |builder| %>
                <% result.word.definitions.shuffle.each do |answer| %>
                  <p>
                    <%= builder.radio_button :definition_id, answer.id %>
                    <%= builder.label :definition_id, answer.word_def %>
                  </p> 
                <% end %>
              <% end %>
            </span>
            <% if i < 19 %>
              <%= button_tag "Next", class: "btn btn-primary", onclick: "next_question(#{i})", type: :button %>
            <% end %>
          </section>
        <% end %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>