<% provide(:title, 'Word List') %>
<div class="row">
  <div class="col-md-8 col-md-offset-2"> 
    <h1>Words list</h1>
    <%= form_tag '', url: words_path, method: :get do %>
      <span>
        <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :title), {prompt: "Select a category"} %>
        <%= radio_button_tag :status, "learned" %>
        <%= label_tag :status, "learned" %>
        <%= radio_button_tag :status, "not_learned" %>
        <%= label_tag :status, "not learned" %>
        <%= radio_button_tag :status, "" %>
        <%= label_tag :status, "all" %>        
        <%= submit_tag "Filter" %>
      </span>
    <% end %>
    <table class="table table-striped">
      <tr>
        <th>Word</th>
        <th>Definition</th>
      </tr>
      <% if @words.any? %>
        <%= render partial: 'word', collection: @words %>
      <% else %>
        <p>No words founds</p>
      <% end %>      
    </table>
  </div>
</div>