<% provide(:title, @category.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </section>
  </aside>
  <div class="col-md-8">
    <ol class="categories">
      <h1><%= @category.title %></h1>
      <p><%= simple_format(@category.intro) %></p>
        <% if current_user.admin? %>
          <%= link_to "Delete", @category, method: :delete,
                                           data: { confirm: "You sure?" } %>
        <% end %>
      </p>
    </ol>
  </div>
</div>