<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>  
      <%= button_to "Add new category", new_admin_category_path, method: :get, class: "btn btn-default " %>  
    </aside>
    <div class="col-md-8">
      <div class="button">
      <span>
        <%= button_to "Word", admin_words_path, method: :get, class: "btn btn-lg btn-primary " %>  
      </span>
      <span>  
        <%= button_to "Lesson", admin_categories_path, method: :get, class: "btn btn-lg btn-primary" %>
      </span>
      </div>
      <h3>Activities</h3>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Admin Panel</h1><br/>
    <%= link_to "Log in", admin_login_path , class: "btn btn-lg btn-primary" %>
  </div>
<% end %>